@font-face {
  font-family: "patrickHand-Regular.ttf";
  src: url(../Tipografia/PatrickHand-Regular.ttf);
}

@font-face {
  font-family: "Cabin-italic";
  src: url(../Tipografia/Cabin-Italic-VariableFont_wdth\,wght.ttf);
  font-style: normal;
}

@font-face {
  font-family: "cabin-variable";
  src: url(../Tipografia/Cabin-VariableFont_wdth\,wght.ttf);
  font-style: normal;
}


h1,
h2,
h3,
li {
  font-family: "patrickHand-Regular.ttf";
  color: blueviolet;
}

p {
  font-family: "cabin-variable";
}


/* menu de nav */
.classnav {
  background-color: #fdb9fd;
  text-align: center;
  padding: 10px 0;
  display: flex;

  /* justify-content: space-between;*/
  /* align-items: center;*/

}

/*main{
  background: #fdb9fd;
  color: #555;
  text-align: center;
  height: 100vh;
}

.grid-container{
 height: 500px;
  width: 500px;
  margin-top: 20px;
  border: 2px dotted  #7c0568;
  background-color: rgb(234, 151, 224);
  display: grid;
  grid-template-columns: 250px 250px;
  grid-template-rows: 200px 200px;
 
}

.grid-item{
  background-color: #fdb9fd;
  border: 2px solid transparent;
  padding: 20px;
}*/

/*body{
  height: 100vh;
  display: grid;
  grid-template-areas:
    "Quienes somos Productos"
    "Presupuestos Contactanos"
  ;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
*/
.menu {
  list-style: none;
  padding: 5;

  display: flex;
  justify-content: space-between;
  gap: 4rem;
  align-items: center;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-weight: bold;
  background-color: #ddd;
  padding: 10px 20px;
  border-radius: 5px;
}


.menu a:hover {
  background-color: #666;
  color: #fff;
}


p {
  margin: 20px 0;
}

footer {
  background: violet;
  color: aliceblue;
  font-family: 20px 1rem;
  text-align: center;
  position: absolute;
  width: 100%;
}

/*estilos Presupuestos*/
.navpresupuestos {

  padding: 10px 0;

}

.menupresupuestos {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 2rem;


  /*estilos Productos*/
}

.navpreoductos {

  padding: 10px 0;

}

.menuproductos {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  text-align: center;
}

/*Estilos quienesSomos*/
.footerQuienessomos {
  background-color: violet;
  color: aliceblue;
  font-family: 20px 1rem;
  text-align: center;
  clear: both;
  position: absolute;
  width: 100%;
}

.imgQuienesSomos {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 650px;
  height: 400px;
}

/* imagenes */
/* Estilo para la información de contacto */
.contact-info {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

.contact-info h3 {
  font-size: 18px;
  color: #333;
}

.contact-info p {
  font-size: 16px;
  color: #555;
  margin: 5px 0;
}

.contact-info a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.contact-info a:hover {
  text-decoration: underline;
}

.imagenstich {
  width: 700px;
  height: 450px;
}

.imagenencanto {
  width: 700px;
  height: 450px;
}

.logo {
  height: 6rem;

}

.carousel-item {
  width: 500px;
  height: 500px;

}

image {
  max-width: 100%;
  height: auto;
}

.mapa {
  display: flex;
  gap: 4rem;

}

.formulario {
  display: flex;
  gap: 1rem;
}

.carousel-custom {
  display: flex;
  gap: 2rem;
  max-height: 100%;
  justify-content: center;
  justify-items: center;
  color: #070707;
  margin: 0 auto;
  text-align: center;
  max-width: 50%;


}

.btn {

  justify-content: center;
  border: #fdb9fd;
  border-radius: 15%;
  background-color: #fdb9fd;
  color: #430243;
  width: 6rem;
  height: 4rem;

}

.imagen-carrusel {
  max-width: 50%;
  /* Ajusta el ancho máximo de la imagen */
  display: block;
  /* Centra horizontalmente la imagen */
  margin: 0 auto;
  /* Centra horizontalmente la imagen */
  text-align: center;
  /* Centra horizontalmente el contenido en el contenedor */
  align-content: space-between;
}
.carousel-item {

  text-align: center;
}