
.row{
  display: grid;
  flex-direction:row;
  align-items:center;
  padding: 3rem;
  gap: 3rem;
  margin-left: 15px;
  overflow:visible;
  grid-template-columns: 5fr;
  grid-auto-rows: 1fr ;
  grid-template-areas:
  "icon1 icon2 icon3 icon4 incon5";
}

.iconitos{
  display: flex;
  flex-direction: row;
  flex-direction: column;
  /*align-items: center;*/
  text-align: center;
  /*padding-block: 1rem;*/
  padding: 3rem;
  justify-content: center;

  .icon1 {
    background-color: #fdb9fd;
    width:  3rem ;
    height: 3rem;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   margin: 0 auto; /* Centrar los íconos */
    
   }
   .icon2 {
    background-color: #fdb9fd;
    width:  3rem ;
    height: 3rem;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   margin: 0 auto; /* Centrar los íconos */
    
   }
   .icon3 {
    background-color: #fdb9fd;
    width:  3rem ;
    height: 3rem;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   margin: 0 auto; /* Centrar los íconos */
    
   }
   .icon4 {
    background-color: #fdb9fd;
    width:  3rem ;
    height: 3rem;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   margin: 0 auto; /* Centrar los íconos */
    
   }
   .icon5 {
    background-color: #fdb9fd;
    width:  3rem ;
    height: 3rem;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   margin: 0 auto; /* Centrar los íconos */
    
   }
 }


