.mapa {
  align-items: center;
  display: flex;
  gap: 4rem;
  padding: 5% 0;

}

.formulario {
  align-items: center;
  display: flex;
  gap: 4rem;
  padding: 20% 0;

  .btn {

    justify-content: center;
    border: #fdb9fd;
    border-radius: 15%;
    background-color: #fdb9fd;
    color: #430243;
    width: 6rem;
    height: 4rem;

  }
}