
.ubicacion {
  background: rgb(247, 208, 247);
  padding: 2rem; 

  .mapa,
  .formulario {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem; 
    padding: 5% 0; 
    @media (min-width: 768px) {
      flex: 1; 
    }
  }

  .btn {
    border: #fdb9fd;
    border-radius: 15%;
    background-color: #fdb9fd;
    color: #430243;
    width: 6rem;
    height: 4rem;
    padding: 1rem;
    margin-left: 15px;
  }

  @media (max-width: 768px) {
    .mapa,
    .formulario,
    .rowmapa {
      padding: 1rem;
    }
  }

  .row {
    display: flex;
    align-items: center;
    padding: 1rem; 
    gap: 1rem; 
    margin-left: 15px;
    overflow: visible;
    @media (max-width: 768px) {
      flex-direction: column; 
      align-self: stretch;
    }
  }

  .iconitos {
    background: #fbd7fb;
    display: flex;
    flex-direction: column; 
    text-align: center;
    padding: 2rem; 
    justify-content: space-around;
    white-space: nowrap;
    max-width: 100%; 

    .row {
      flex-wrap: wrap; 
    }

    .icon-container {
      background-color: #fdb9fd;
      width: 3rem;
      height: 3rem;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      border-radius: 50%;
      margin: 0 auto;
      margin-bottom: 1rem; 
      i {
        font-size: 1.5rem; 
      }
    }
  }

  .foto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 1rem; 
  }
}

.foto img {
  max-width: 70%; 
  height: auto; 
}