
footer {
    background: violet;
    color: aliceblue;
    display: flex;
    font-family: 20px 1rem;
    text-align: center;
    position: absolute;
    width: 100%;
    justify-content: center;
    align-items: center;
  }