.contenedor {
    border: 2px solid $colorPrincipal;
    height: 100vh;
    text-decoration: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr 1fr;
    grid-template-areas:
      "logo   logo    quienes         productos"
      "logo   logo    presupuestos    contactanos";

    animation-name: agrandarse;  
    animation-duration: 5s;
    width: 100%;
    
    background-color: $colorSecundario;

  .hijo {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    border: 3px solid #ddd;
    text-align: center;
    padding: 1rem;
    border-radius: 50%;
 

 & img {
      width: 100%;
      display: flex;
      margin: auto;
      border-radius: 50%;
      
        }
  }
  

  .logo {
    display: flex;
    
    background-color: $colorSecundario;
    grid-area: logo;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-image: linear-gradient(to top, $colorPrincipal, $colorSecundario);
    border-radius: 50%;

  
  }
  
  .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
    

  }
  


.quienes {
    display: flex;
    background-color: antiquewhite;
    grid-area: quienes;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
      
  }
  
  .productos {
    background-color: rgb(196, 150, 239);
    grid-area: productos;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  .presupuestos {
    background-color: rgb(196, 138, 251);
    grid-area: presupuestos;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
  
  }
  
  .contactanos {
    background-color: rgb(159, 112, 203);
    grid-area: contactanos;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
  
  }
}

@keyframes agrandarse {

 0% {
 
    width: 300px;
  }
  50% {
    width: 100%;
  }


}
  
