@media screen and (max-width: 480px) {
    .menu {
      display:block; 
      gap: 1rem;
      flex-direction: column 1fr;
      flex-direction: row repeat(6, 1fr);
    }
  }

  @media screen and (max-width: 480px) {
  
    .contenedor {
      grid-template-columns: 1fr;
      grid-auto-rows: repeat(6, 1fr);
      grid-template-areas:
        "logo"
        "logo"
        "logo"
        "logo"
        "quienes"
        "productos"
        "presupuestos"
        "contactanos";
  
    }
  }