.condiciones {
  display: flex;
  text-align:center;
  justify-content: center;
  align-items: center;
  padding:2rem;

  

  .col-md-6 {
    flex: 1;
    max-width: 100%;
    max-width: 480px;
  }


}
.galeriafotos {
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
 margin-bottom: 20px;
  gap: 1;
  padding: 2rem;
 

 /* .galeria1{
    display: flex;

    justify-content: center;
    margin-bottom: 20px;
    flex-direction: row;
  }

  .galeria2{
    display: flex;
 
    justify-content: space-between;
    margin-bottom: 20px;
     flex-direction: row;
  }
  
  .galeria3{
    display: flex;
  
    justify-content:space-between;
    margin-bottom: 20px;
    flex-direction: row;
  }*/
  
  

}