.imagen-carrusel {
    max-width: 50%;
    display: block;
    margin: 0 auto;
    text-align: center;
    align-content: space-between;
    .carousel-item {
          text-align: center;
        width: 500px;
        height: 500px;
      }
      .carousel-custom {
        display: flex;
        gap: 2rem;
        max-height: 100%;
        justify-content: center;
        justify-items: center;
        color: #070707;
        margin: 0 auto;
        text-align: center;
        max-width: 50%;
      
      
      }
  }
  
 /* .menupresupuestos {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 3rem;

  }*/