.navproductos {
  
    padding: 10px 0;

    .menuproductos {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
        text-align: center;
      }
      
      .imagenstich {
        width: 700px;
        height: 450px;
      }
      
      .imagenencanto {
        width: 700px;
        height: 450px;
      }
  }
  

  