body {
   background: rgb(251, 182, 251);
   background: linear-gradient(
     90deg,
     rgba(251, 182, 251, 1) 0%,
     rgba(255, 255, 255, 1) 50%,
     rgba(251, 182, 251, 1) 100%
   ); 
 }
 
 
 .navproductos {
   background-color: $colorPrincipal; 
   max-width: 1600;
 
   h2 {
     color: #333; 
     background: rgb(251, 182, 251);
     background: linear-gradient(
       90deg,
       rgba(251, 182, 251, 1) 0%,
       rgba(255, 255, 255, 1) 50%,
       rgba(251, 182, 251, 1) 100%
     );
     padding: 20px; 
     text-align: center;
   }
   .row {
     max-width: 1200px;
     margin: 0 auto;
     margin-bottom: 10px;
     display: flex;
     flex-wrap: wrap;
     justify-content: flex-start;
   }
 
   .col {
     width: calc(25% - 10px);
     margin-bottom: 10px;
     box-sizing: border-box;
   }
 
   .card {
     border: 1px solid #ccc;
     border-radius: 10px;
     height: 550px;
     display: flex;
     flex-direction: column;
   }
 
   .card-img-top {
     height: 75%;
     object-fit: cover;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
     display: block;
   }
 
   .card-body {
     padding: 1.25rem;
     text-align: center;
     display: flex;
     flex: 1;
     flex-direction: column;
     justify-content: space-between;
   }
 
   p.card-text {
     color: #666;
   }
 
   @media (max-width: 768px) {
     .col {
       width: 100%;
     }
   }
 }
 
 .navproductosbolsitas {
   background-color: $colorPrincipal; 
   
   h2 {
     color: #333; 
     background: rgb(251, 182, 251);
     background: linear-gradient(
       90deg,
       rgba(251, 182, 251, 1) 0%,
       rgba(255, 255, 255, 1) 50%,
       rgba(251, 182, 251, 1) 100%
     );
     padding: 20px; 
     text-align: center;
   }
 
   .row {
     max-width: 1200px;
     margin: 0 auto;
     margin-bottom: 10px;
     display: flex;
     flex-wrap: wrap;
     justify-content: flex-start;
   }
 
   .col {
     width: calc(25% - 0px);
     margin-bottom: 20px;
     box-sizing: border-box;
   }
 
   .card {
     border: 1px solid #ccc;
     border-radius: 10px;
     height: 550px;
     display: flex;
     flex-direction: column;
   }
 
   .card-img-top {
     height: 75%;
     object-fit: cover;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
     display: block;
   }
 
   .card-body {
     padding: 1.25rem;
     text-align: center;
     display: flex;
     flex: 1;
     flex-direction: column;
     justify-content: space-between;
   }
 
   p.card-text {
     color: #666;
   }
 
   @media (max-width: 768px) {
     .col {
       width: 100%;
     }
   }
 
 
 }
 

 .navproductos.setjardin {
   background-color: $colorPrincipal; 
   
   .h2 {
     color: #333;
     background: #b3d9cc;
     padding: 20px;
   }
 }