.quienessomos {
  background: violet;
  text-align: center;
  color: white;
  display: flex;
  padding: 5rem;
  gap: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 1fr;
  grid-template-areas: 
  "hero imagequienes";


  .hero {
    display: flex;
    grid-area: hero;
  }

  .imagequienes {
    display: flex;
    grid-area: imagequienes;
  }
}