.quienessomos {
  background: violet;
  text-align: center;
  color: white;
  display: flex;
  padding: 5rem;
  gap: 1;
  
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;

  .col-md-6 {
    justify-content: center;
    display: flex;
  }
  }