
  .hero {
    background: $colorPrincipal;
    background-image: url(../Image/pagina.jpg);
    background-size: cover ;
    background-position: center;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;

    .hero__texto {
      display: flex;
        line-height: 1;
        font-size: 16px;
        text-align: left;
      }
       .col-md-4 {
        max-width: 500px;
        margin: 1%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
      
       }
  
  }

  .footerQuienessomos {
    background-color: $colorPrincipal;
    color: aliceblue;
    display: flex;
    font-family: 20px 1rem;
    text-align: center;
    clear: both;
    position: absolute;
    width: 100%;
  }

  /*@media screen and (max-width: 480px) {
    .classnav {
      height: auto;
      grid-template-columns:  1fr;
      grid-auto-rows: repeat(6, 1fr);
      grid-template-areas:
      "inicio"
      "quienes"
      "productos"
      "presupuestos"
      "como"
      "contactanos";
      
     
    }*/


  


  

  
  